@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<script>
    //var request = new XMLHttpRequest();
    //request.open('GET', 'http://localhost:53913/MKT/api/values/GetAllValues');
    //request.onload = function () {

    //    var data = JSON.parse(this.response);
    //    if (request.status >= 200 && request.status < 400) {
    //        $.each(data, function (index, gerente) {
    //            console.log(index + ": " + gerente.Nombre)
    //        });
    //    } else {
    //        console.log(request.responseText);
    //    }
    //}

    $(function () {
        var urlSave = 'http://localhost:53913/MKT/api/Gerentes/InsertGerente/';
        var texto = '{"IdGerente": 0,"CodigoNomina": "el código", "Nombre": "el nombre", "Entidad": "La entidad", "IsActive": true, "FechaInicio": "2019-02-07T16:57:16.870Z", "FechaTermino": "2019-02-07T16:57:16.870Z"}';

        var obj = JSON.parse(texto);
       
        debugger;
        $.ajax({
            type: "POST",
            url: urlSave,
            dataType: "json",
            data: JSON.stringify({ dO_Gerente: obj }),
            success: function (mensaje) {
                alert(mensaje.responseText);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                debugger;
            }

        });
    });
    
    
</script>